.color_block {
    border: 2px #262a2b solid;
    border-radius: 25px;
    background: rgb(51, 55, 58);
    width: 570px;
    margin: 7px auto;
}
.block_content h3, .block_content p {
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color:rgb(221, 218, 214);
    padding: 0 7px;
}
body {
    background: rgb(24, 26, 27);
}
.number h3{
    display: flex;
    position: relative;
    top: 32px; left: 0px;
    margin-top: -20px;
}