{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'buylist/style.css' %}">
    <title>Document</title>
</head>

<body>
{% block settings %}
<input id="search_here" placeholder="type here to search.." />
{% endblock settings %}

{% block content %}

<div id='box'>
    {% for product in products %}
        <div class="color_block">
            <div class="block_content">
                <h3>{{ product.name }}</h3>
                <p>{{ product.price }} | {{ product.accuracy }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
{% block scripts %}
<script>
    const data = '{{qs_json}}'
    const allData = JSON.parse(data.replace(/&quot;/g, '"'))
    const input = document.getElementById('search_here')
    console.log(allData.data)
    const listData = allData['data']

    let filteredArr = []

    input.addEventListener('keyup', (e)=>{
        box.innerHTML = ""
        filteredArr = listData.slice(0, parseInt(e.target.value))
        if (filteredArr.length > 0){
            filteredArr.map(info=>{
                box.innerHTML += `<div class="color_block"><div class="block_content"><h3>${info['name']}</h3><p>${info['price']} | ${info['accuracy']}</p></div></div>`
            })
        } else {
            box.innerHTML = `<div class="color_block"><div class="block_content"><h3>No results found...</h3></div></div>`
        }
    })
</script>
{% endblock scripts %}
</body>
</html>