{% extends "buylist/base.html" %}

{% block settings %}
    <div class="settings">
        <div class="search_bar">
            <input id="search_here" value="{{ settings.item_amount }}" placeholder="type here to search.." />
        </div>
        <div class="bl_mode">
            <input type="checkbox" name="my-checkbox" id="bl_mode"/>
            <label for="bl_mode">BL Mode</label>
        </div>
        <div class="zero_price">
            <input type="checkbox" name="my-checkbox" id="zero_price"/>
            <label for="zero_price">0 Price Items</label>
        </div>
        <form action="#" method="get">
            <div class="update_button">
                <input type="submit" value="Update" name="mybtn">
            </div>
        </form>
    </div>
{% endblock settings %}

{% block content %}
    <div id='box'>
        {% for product in products %}
        <div class="color_block">
            <div class="block_bg" onclick="addToBL('{{ product.name }}')">   
                <img class="picture" src="{{ product.image_url }}">
                <h3 class="number">#{{forloop.counter}}</h3>
                <h3>{{ product.name }}</h3>
                <p>{{ product.price }} | {{ product.accuracy }}</p>
            </div>
        </div>
        {% empty %}
        <div class="color_block"><div class="block_bg"><h3>No items found...</h3></div></div>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
<script>
    // DB data
    const data = '{{qs_json}}'
    const allData = JSON.parse(data.replace(/&quot;/g, '"'))
    let listData = allData['data']
    let noZeroList = getNoZeroItems(listData)
    const zeroPriceDB = allData['zero_price']
    const itemsAmountDB = allData['item_amount']

    // Page data
    const itemAmount = document.getElementById('search_here')
    const zeroPrice = document.getElementById('zero_price')
    const isBLMode = document.getElementById('bl_mode')

    if (zeroPriceDB){
        zeroPrice.checked = true;
    } else {
        zeroPrice.checked = false;
    }

    itemAmount.addEventListener('keyup', ()=>updateList(itemAmount.value))
    zeroPrice.addEventListener('click', ()=>updateList(itemAmount.value))
    isBLMode.addEventListener('click', ()=>updateList(itemAmount.value))

    function addToBL(input){
        if (isBLMode.checked){
            $.post( "{% url 'index' %}",
            {
                csrfmiddlewaretoken: '{{ csrf_token}}' ,
                name : input,
            })

            updateList(itemAmount.value, input)
        }
    }

    function updateList(input, toDelete = null){
        let number
        let shownList
        let itemClass

        if (!zeroPrice.checked){
            if (toDelete){
                let deleteItem = noZeroList.findIndex(x => x.name === toDelete)
                if (deleteItem === 0){
                    noZeroList.shift()
                } else {
                    noZeroList.splice(deleteItem, 1)
                }
            }
            shownList = Array.from(noZeroList)
        } else {
            if (toDelete){
                let deleteItem = listData.findIndex(x => x.name === toDelete)
                if (deleteItem === 0){
                    listData.shift()
                } else {
                    listData.splice(deleteItem, 1)
                }
            }
            shownList = Array.from(listData)
        }

        shownList = shownList.slice(0, parseInt(input))

        number = 0
        box.innerHTML = ""

        if (isBLMode.checked){
            itemClass = "color_block_BL"
        } else {
            itemClass = "color_block"
        }

        if (shownList.length > 0){
            shownList.map(info=>{
                number++;
                box.innerHTML += `<div class="${itemClass}"><div class="block_bg" onclick="addToBL('${info['name']}')"><img class="picture" src="${info['image_url']}"><h3 class="number">#${number}</h3><h3>${info['name']}</h3><p>${info['price']} | ${info['accuracy']}</p></div></div>`
            })
        } else {
            box.innerHTML = `<div class="color_block"><div class="block_bg"><h3>No items found...</h3></div></div>`
        }
    }

    function getNoZeroItems(listData){
        let noZeroItems = [...listData]

        for (item of listData){
            if (item['price'] === 0){
                let key = Object.keys(listData).find(key => listData[key] === item)
                noZeroItems.shift(key)
            }
        }

        return noZeroItems
    }

    function updateDBSettings(){
        if (itemsAmountDB != itemAmount.value || zeroPriceDB != zeroPrice.checked){
            console.log('pupa')
            $.post( "{% url 'index' %}",
            {
                csrfmiddlewaretoken: '{{ csrf_token}}' ,
                item_amount : itemAmount.value,
                zero_price_items : zeroPrice.checked,
            })
        }
    }
</script>
{% endblock scripts %}
